<h1> GAME TIME </h1>
<h3>There are 3 games to play:</h3>
<p>
  Type into the url bar 'localhost:4567/xxx' </br>
  Where xxx is the corresponding game name from below. e.g. - 'equal' </br>
  Followed by the string(s) you wish to use. </br>
  i.e. for String Equals, use 2 words: /localhost:4567/equal/hello/helo </br>
  <ul style="list-style-type:circle">
  <li>Strings EQUAL - 'equal'</li>
  <li>Strings PALINDROME - 'palindrome'</li>
  <li>Strings ISOGRAM - 'isogram'</li>
</ul>
</p>
